* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
:root {
    --bg-primary: linear-gradient(180deg, #FFEEE8 -36.19%, #FBEBF8 41.31%, #F7F6FF 100%);
  

}
.home{
    background: var(--bg-primary)
}
.ohoh_logo{
    height: 30px;
    width: 81px;
}
.home_btn{
    border-radius: 36px;
    border: 1px solid #FFECE6;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
    color: black;
    text-decoration: none;
    padding: 11.5px 20px;
}
.dashboard_image{
    width: 1200px;
    height: 580px;
}
.request_btn{
    border-radius: 32px;
    border: 1px solid rgba(255, 77, 0, 0.45);
    border-bottom: none;
    background: #F7F6FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: black;
    padding: 11.5px 20px;
}
.request_btn:hover {
    background-color: #FF5D25;
}
.getstarted_btn{
    border-radius: 32px;
    background: #FF5D25;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: white;
    padding: 11.5px 20px;
}
.what_offer{
    color: #FF5D25;
    padding-top: 15px;

}
.hrline{
    color: #FF5D25;
    width: 50px;
    margin-left: 350px;
    height: 12px;
    /* position: absolute; */
}
.regional_level
{
    border-radius: 8px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}
.regional_level-2
{
    border-radius: 12px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}
.home_card{
    background: var(--bg-primary);
    border-radius: 12px;
}
/* .card_img{
    width: 10vh;
    height: 10vh;
} */
.card_head{
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 14px;
    font-style: bold;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}
.card_para{
    color: var(--Neutral-colors-N2, #8E8E8E);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 14px */
}
.card_head-1{
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 14px;
    font-style: bold;
    font-weight: 500;
}
.card_para-1{
    color: var(--Neutral-colors-N2, #8E8E8E);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.regional_level_user{
    border-radius: 50px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}
.card_img{
    height: 150px;
    width: 150px;
}
.card_img_archive{
    width: 35px;
}
.card_img_archive_call{
    width: 25px;
}
.regional_level_over
{
    border-radius: 8px;
    border: 1px solid #EAEAEE;
    background: #FFF;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 310px;
}
.card_img_archive_info{
    width: 60px;
}